//- All Files That Will Be called
include includes/mixin
include includes/header
doctype
html(lang="en")
    +myheader
    body
        section.inside_house
            span 
                h2 About Us
                a(href="../index.html") Home
            aside.first_home
                div: a(href="#"): img(src="../images/team.jpg", alt="ate_home")
                div.comments
                    p Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad
                    p Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad
                    p Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad
                    p Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad Mohmad Gamal Ali Mohmad

            +footer
        +copyright