doctype
html
    head
        title Ny Page
        //- This Called ==> [ Conditioal Comment ]
        <!-- [if gt IE 8]><!-->
        <!--<![endif]--> 
    
    body
        // Start Section
        div 
            h1 Mohmad Gamal
        // End Section

        // Comment One
           Comment Tow
           Comment Three
        div 
            h2 Ali Gamal
        // End Section

        //- Comment One
           Comment Tow
           Comment Three
        div 
            h2 Ali Gamal
        //- End Section [This Will Show  Only In Pug Page Not In HTML Page]