-var pageTitle = 'KivPage';
doctype html
html
	head
		include ../pug/layout/meta
		include ../pug/layout/styles
	body

		include ../pug/componant/slide-left
		include ../pug/componant/page-head
		include ../pug/componant/settings-box
		include ../pug/componant/kiv/logo_kiv
		include ../pug/componant/kiv/title-famous-kiv-cars
		include ../pug/componant/kiv/image_with_info2
		include ../pug/componant/kiv/famous-kiv-info-cars
		include ../pug/componant/footer
		//- .page.home-page
		//- 	include ../pug/componant/settings-box
		//- 	//- include ../pug/layout/sidebar
		//- 	.content-area
		//- 		include ../pug/layout/header
		//- 		.container-fluid
		//- 			.content
		//- 				include ../pug/componant/page-head

		include ../pug/layout/scripts