.ListItems
{
	background-color: #fff;
	color: #46529d;
}

.ListItems p
{
	margin: 0;
	text-align: center;
	padding: 10px 0;
}

.ListItems span
{
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	border: 0.3px solid #ccc;
}

.ListItems span.title
{
	background-color: #2ebaee;
	color: #fff
}

.ListItems span.name
{
	width: 60%;
}

@media(max-width:1200px )
{
	.ListItems span.name
	{
		width: 50%;
		padding: 10px;
	}
}

@media(min-width:492px ) and (max-width: 640px)
{
	.ListItems span.name
	{
		width: 40%;
		padding: 10px;
	}
}


.ListItems span.age
{
	width: 30%;
}

.ListItems span.action
{
	width: 10%;
}

@media(max-width:1200px )
{
	.ListItems span.action
	{
		width: 20%;
		padding: 10px;
	}
}

@media(min-width:492px ) and (max-width: 640px)
{
	.ListItems span.action
	{
		width: 30%;
		padding: 10px;
	}
}

.ListItems span.icon
{
	color: #f00;
	cursor: pointer;
}