@for $i from 1 through 16 {

	// #{} This Mean Interpolation To Put In It Any String Or Variable And So On
	.class#{$i}{ 
		font-size: 20px + $i;
		font-weight: bold;
		color: #fff;
		background-color: red;
	}
}