.logo-bejo{
	background-image:url('../image/bejo/logo/bejo_logo.jpg');
	@include prefixer(background-size , cover, webkit moz o);
}
.logo-bejo + span{
	display: block;
	background-image:linear-gradient(to left, #607D8B, black) !important;
	cursor: pointer;
	i{	
		animation:turn_off_light 2s infinite ease-in-out;
		@include makeAnimation(turn_off_light);
	}	
}