-var pageTitle = 'BejoPage';
doctype html
html
	head
		include ../pug/layout/meta
		include ../pug/layout/styles
	body

		include ../pug/componant/slide-up
		include ../pug/componant/page-head
		include ../pug/componant/settings-box
		include ../pug/componant/bejo/logo_bejo
		include ../pug/componant/bejo/title-famous-bejo-cars
		include ../pug/componant/bejo/image_with_info6
		include ../pug/componant/bejo/famous-bejo-info-cars
		include ../pug/componant/footer
		//- .page.home-page
		//- 	include ../pug/componant/settings-box
		//- 	//- include ../pug/layout/sidebar
		//- 	.content-area
		//- 		include ../pug/layout/header
		//- 		.container-fluid
		//- 			.content
		//- 				include ../pug/componant/page-head

		include ../pug/layout/scripts