/*Start Global Rulez*/

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: Arial, Tahoma;
}
/*End Global Rulez*/

/*
	===================================
	== Multilingual Notes And Tricks ==
	===================================

	* Problems And Solutions Part 2
	--- Padding And Margin Left + Right Better Than One Direction.
	--- Don't Forget Page Direction Attribute. [ dir="rtl" ] ==> All Block Elements Depend On It.
	--- Highlight [ Comment ] What You Will Edit Soon
	--- Make The Direction Edits In The Same Time.

*/

div{
	background-color: #333;
	color: #fff;
}

div h3{
	margin: 0; /* Reset */
	margin-left: 10px;
	margin-right: 10px;

	left: 0; /* Need Edit To ==> RTL */
}