/*Start Global Rulez*/

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: Arial, Tahoma;
	font-size: 18px;
}

.container{
	text-align: center;
}

.container .grad-box{
    padding: 40px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.container form{
    margin:20px auto;
    width: 900px
}

.container form .form-group{
    display: inline-block;
}

.container form .form-group label{
    display: block;
    margin-bottom: 15px;  
}

.container form input{
    padding: 10px 15px;
    background-color: #efefef;
    border:1px solid #ccc;
}

.container form .separator{
	margin: 0 20px;
}

.container .result,
.container .syntax{
	margin: 20px auto;
	background-color: rgba(3, 169, 244, 0.35);
	padding: 20px;
	width: 865px;
	text-align: left;
}

.container .result span,
.container .syntax span{
	font-weight: bold;
	width: 120px;
	display: inline-block;
}

/*End Global Rulez*/

