.popup
	.inner
		.row
			.col-lg
				.card.text-center
					.card-body.content
						h4.card-title NEW MARKETS AND STOCK EXCHANGE LISTING
						h6.card-subtitle.mb-2.text-muted 30000$
						h6.card-subtitle.mb-2.text-muted.throughLine 35000$
						p.card-text

							| The third millennium began with a decade of rapid expansion.We boosted our presence on emerging markets, such as the Middle East, China, Japan and the rest of the Far East, as well as consolidating our position on the US,
						a(href="#" class="card-link fBold float-right d-sm-block close") Make Sure

			.col-lg
				.card
					img(class="card-img-top" src="../image/ferrari/ferrari5.jpg" alt="bejo5")

