$flatBlue:#2980b9;
$flatBlueAlt:#3498db;


$flatRed:#c0392b;
$flatRedAlt:#e74c3c;

$flatGreen:#16a085;
$flatGreenAlt:#1abc9c;

$themes:(
	green-theme: (color:#16a085),
	blue-theme: (color:#2980b9),
	red-theme: (color:#c0392b),
	orange-theme: (color:#d35400),
	purple-theme: (color:#8e44ad),
	black-theme: (color:#2c3e50)
);

@each $theme , $map in $themes{
	.#{$theme}{
		$color: map-get($map , color);;
		.page .page-head .page-title{
			color:$color;
		}
		.header .usermenu-container .dropdown-menu .user-info h3{
			color:$color;	
		}
		.header .toggle-sidebar:hover{
			color:$color;	
		}
	}
}