<!-- Start Latest Posts -->
.famous-cars
	.container
		.row.cars-one
			.col-lg.one
				.card.text-center
					img(class="card-img-top" src="../image/bejo/bejo1.jpg" alt="bejo1")
					.card-body
						h4.card-title LAUNCH OF THE 3008
						h6.card-subtitle.mb-2.text-muted 10000$
						h6.card-subtitle.mb-2.text-muted.throughLine 15000$
						p.card-text

							| Praised for its style, interior design and features, the new Peugeot 3008 was elected Car of the  Year 2017 by a jury of 58 European journalists.
						a(href="bejo_info1.html" class="card-link fBold float-left") Show Now
						a(href="../cards/card_bejo1.html" class="card-link fBold float-right d-sm-block") Bay Now

			.col-lg.tow
				.card.text-center
					img(class="card-img-top" src="../image/bejo/bejo2.jpg" alt="bejo2")
					.card-body
						h4.card-title LAUNCH OF THE 3008
						h6.card-subtitle.mb-2.text-muted 15000$
						h6.card-subtitle.mb-2.text-muted.throughLine 20000$
						p.card-text

							| Praised for its style, interior design and features, the new Peugeot 3008 was elected Car of the  Year 2017 by a jury of 58 European journalists.
						a(href="bejo_info2.html" class="card-link fBold float-left") Show Now
						a(href="../cards/card_bejo2.html" class="card-link fBold float-right d-sm-block") Bay Now


			.col-lg.three
				.card.text-center
					img(class="card-img-top" src="../image/bejo/bejo3.jpg" alt="bejo3")
					.card-body
						h4.card-title LAUNCH OF THE 3008
						h6.card-subtitle.mb-2.text-muted 20000$
						h6.card-subtitle.mb-2.text-muted.throughLine 25000$
						p.card-text

							| Praised for its style, interior design and features, the new Peugeot 3008 was elected Car of the  Year 2017 by a jury of 58 European journalists.
						a(href="bejo_info3.html" class="card-link fBold float-left") Show Now
						a(href="../cards/card_bejo3.html" class="card-link fBold float-right d-sm-block") Bay Now
		.row.cars-tow
			.col-lg.one
				.card.text-center
					img(class="card-img-top" src="../image/bejo/bejo4.jpg" alt="bejo4")
					.card-body
						h4.card-title LAUNCH OF THE 3008
						h6.card-subtitle.mb-2.text-muted 25000$
						h6.card-subtitle.mb-2.text-muted.throughLine 30000$
						p.card-text

							| Praised for its style, interior design and features, the new Peugeot 3008 was elected Car of the  Year 2017 by a jury of 58 European journalists.
						a(href="bejo_info4.html" class="card-link fBold float-left") Show Now
						a(href="../cards/card_bejo4.html" class="card-link fBold float-right d-sm-block") Bay Now

			.col-lg.tow
				.card.text-center
					img(class="card-img-top" src="../image/bejo/bejo5.jpg" alt="bejo5")
					.card-body
						h4.card-title LAUNCH OF THE 3008
						h6.card-subtitle.mb-2.text-muted 30000$
						h6.card-subtitle.mb-2.text-muted.throughLine 35000$
						p.card-text

							| Praised for its style, interior design and features, the new Peugeot 3008 was elected Car of the  Year 2017 by a jury of 58 European journalists.
						a(href="bejo_info5.html" class="card-link fBold float-left") Show Now
						a(href="../cards/card_bejo5.html" class="card-link fBold float-right d-sm-block") Bay Now


			.col-lg.three
				.card.text-center
					img(class="card-img-top" src="../image/bejo/bejo6.jpg" alt="bejo6")
					.card-body
						h4.card-title LAUNCH OF THE 3008
						h6.card-subtitle.mb-2.text-muted 35000$
						h6.card-subtitle.mb-2.text-muted.throughLine 40000$
						p.card-text

							| Praised for its style, interior design and features, the new Peugeot 3008 was elected Car of the  Year 2017 by a jury of 58 European journalists.
						a(href="bejo_info6.html" class="card-link fBold float-left") Show Now
						a(href="../cards/card_bejo6.html" class="card-link fBold float-right d-sm-block") Bay Now

<!-- End Latest Posts -->