<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Scroll To Element</title>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="head"> <!-- {{  }} You Can Wright Javascript On It -->

			<ul> <!-- For Loop On Array -->
				<li v-for="skil in skiles">
					{{ skil }}
				</li>
			</ul>

			<ul><!-- For Loop On Array With Index -->
				<li v-for="(skil , index) in skiles">
					{{ index }} ==> {{ skil }}
				</li>
			</ul>

			<ul> <!-- For Loop On Object With Index -->
				<li v-for="(test , index) in completeTest">
					{{ index }} ==> {{ test.testName }} ==> {{ test.testResult }}
				</li>
			</ul>
		</div>


		<script src="js/vue.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>