/*Start Global Rulez*/

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: Arial, Tahoma;
	font-size: 18px;
}

.container{
	text-align: center;
}

.container form{
	margin: 20px auto;
	width: 400px;

}

.container form input{
	width: 100%;
	margin-bottom: 15px;
	height: 46px;
	padding: 10px;
}

.container form button{
    width: 100%;
    display: block;
    padding: 15px 10px;
    background-color: #2196f3;
    color: #fff;
    border-color: transparent;
    cursor: pointer;
}

.container form button:disabled{
	opacity: 0.4;
    cursor: no-drop;
}

/*End Global Rulez*/

