-var pageTitle = 'HomePage';
doctype html
html
	head
		include ../pug/layout/meta
		include ../pug/layout/styles
	body

		include ../pug/componant/slide-zoom
		include ../pug/componant/page-head
		include ../pug/componant/settings-box
		include ../pug/componant/slider
		include ../pug/componant/title-famous-cars
		include ../pug/componant/famous-cars
		include ../pug/componant/scroll
		include ../pug/componant/footer
		//- .page.home-page
		//- 	include ../pug/componant/settings-box
		//- 	//- include ../pug/layout/sidebar
		//- 	.content-area
		//- 		include ../pug/layout/header
		//- 		.container-fluid
		//- 			.content
		//- 				include ../pug/componant/page-head

		include ../pug/layout/scripts