//- The Files includes Are connected 
block linkPage
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="")

- 
    var myClass1 = 'Good'
    var myClass2 = 'Food'