.famous-cars-info
	.container
		.row.cars
			.col-lg
				.card
					img(class="card-img-top" src="../image/tesla/tesla4.jpg" alt="tesla4")
			.col-lg
				.card.text-center
					.card-body
						h4.card-title Tesla’s mission is to accelerate the world’s transition to sustainable energy.
						h6.card-subtitle.mb-2.text-muted 25000$
						h6.card-subtitle.mb-2.text-muted.throughLine 30000$
						p.card-text

							| Tesla was founded in 2003 by a group of engineers who wanted to prove that people didn’t need to compromise to drive electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars.

						a(href="../cards/card_tesla4.html" class="card-link fBold d-block") Bay Now
