doctype
html
    head
        title Page 1
    body
        div
            p I Love 
                b pugjs
                |  And
                |
                b Sass
                //- This To Wright The Text In New Line ==> [ | Thin | ]
                | 
                |
                //- [ . ] This To Wright The Text Without Pip Line [ | ] 
                . 
                     this Is My Favorite 1
                     this Is My Favorite 2
                     this Is My Favorite 3