.copyright.text-center
	.row
		.col-md.copyName
			span.fBold Copyright &copy; 2020
			span  Mohmad Gamal .Inc
		.col-md.contus
			a(href="mailto:mohmadailsia@gmail.com?subject=Contact" class=" gmail"): i.fa.fa-google-plus
			a(href="https://www.facebook.com/mohmad.ail.5" class=" facebook"): i.fa.fa-facebook
			a(href="https://www.linkedin.com/in/mohammed-gamal-196943168/" class=" linkedin"): i.fa.fa-linkedin
			a(href="https://github.com/mohmad011" class=" github"): i.fa.fa-github.fa-1x