<!-- Start Slider -->
.slider
	div(id="main-slider" class="carousel slide" data-ride="carousel")

		div.carousel-inner.text-center
			div
				h1
				span
			.overlay
			.carousel-item.carousel-one.active
			.carousel-item.carousel-tow
			.carousel-item.carousel-three
			.carousel-item.carousel-four
	ol.carousel-indicators
		li(data-target="#main-slider" data-slide-to="0" class="active")
		li(data-target="#main-slider" data-slide-to="1")
		li(data-target="#main-slider" data-slide-to="2")
		li(data-target="#main-slider" data-slide-to="3")
<!-- End Slider -->