<!-- Start Latest Posts -->
.famous-cars
	.container
		.row.cars
			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/kiv/inside/kiv_inside1.webp" alt="kiv_inside1")
					.card-body
						h4.card-title Kia Cars
						p.card-text

							| Kia car prices start(GST Included) at Rs 9.89 Lakh for the most inexpensive model in its lineup, the Seltos. The most expensive car in Kia's lineup is the Carnival, priced at Rs. 33.95 Lakh for its top variant. In total, Kia has 2 models on sale in
						a(href="../cards/card_kiv1.html" class="card-link fBold d-block") Bay Now

			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/kiv/inside/kiv_inside2.jpeg" alt="kiv_inside2")
					.card-body
						h4.card-title Kia Cars
						p.card-text

							| Kia car prices start(GST Included) at Rs 9.89 Lakh for the most inexpensive model in its lineup, the Seltos. The most expensive car in Kia's lineup is the Carnival, priced at Rs. 33.95 Lakh for its top variant. In total, Kia has 2 models on sale in
						a(href="../cards/card_kiv2.html" class="card-link fBold d-block") Bay Now


			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/kiv/inside/kiv_inside3.jpg" alt="kiv_inside3")
					.card-body
						h4.card-title Kia Cars
						p.card-text

							| Kia car prices start(GST Included) at Rs 9.89 Lakh for the most inexpensive model in its lineup, the Seltos. The most expensive car in Kia's lineup is the Carnival, priced at Rs. 33.95 Lakh for its top variant. In total, Kia has 2 models on sale in
						a(href="../cards/card_kiv3.html" class="card-link fBold d-block") Bay Now
		.row.cars
			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/kiv/inside/kiv_inside4.jpg" alt="kiv_inside4")
					.card-body
						h4.card-title Kia Cars
						p.card-text

							| Kia car prices start(GST Included) at Rs 9.89 Lakh for the most inexpensive model in its lineup, the Seltos. The most expensive car in Kia's lineup is the Carnival, priced at Rs. 33.95 Lakh for its top variant. In total, Kia has 2 models on sale in
						a(href="../cards/card_kiv4.html" class="card-link fBold d-block") Bay Now

			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/kiv/inside/kiv_inside5.jpg" alt="kiv_inside5")
					.card-body
						h4.card-title Kia Cars
						p.card-text

							| Kia car prices start(GST Included) at Rs 9.89 Lakh for the most inexpensive model in its lineup, the Seltos. The most expensive car in Kia's lineup is the Carnival, priced at Rs. 33.95 Lakh for its top variant. In total, Kia has 2 models on sale in
						a(href="../cards/card_kiv5.html" class="card-link fBold d-block") Bay Now


			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/kiv/inside/kiv_inside6.jpeg" alt="kiv_inside6")
					.card-body
						h4.card-title Kia Cars
						p.card-text

							| Kia car prices start(GST Included) at Rs 9.89 Lakh for the most inexpensive model in its lineup, the Seltos. The most expensive car in Kia's lineup is the Carnival, priced at Rs. 33.95 Lakh for its top variant. In total, Kia has 2 models on sale in
						a(href="../cards/card_kiv6.html" class="card-link fBold d-block") Bay Now

<!-- End Latest Posts -->