// Start Lorem Ipsum
div.lorem-ipsum
	div.container
		div.head-with-border
			h2 Lorem Ipsum

		div.lorem-box
			img(class="lorem-img" src="images/img2.jpeg" alt="img2")
		div.lorem-box
			img(class="lorem-img" src="images/img3.png" alt="img3")
		div.lorem-box
			img(class="lorem-img" src="images/img4.jpg" alt="img4")

div.clearfix
// End Lorem Ipsum