// Start Our Player
div.players
	div.container
		div.head-with-border
			h2 Our Services


		div(class="player-box text-center-xs")
			img(src="images/someone1.jpg" alt="Someone1")
			h3.player-title  #[span Name:] Mohmad Gamal
			p.player-info  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
			a(class="player-link" href="#")  Read More... 


		div(class="player-box text-center-xs")

			img(src="images/someone2.jpg" alt="Someone2")

			h3.player-title  #[span Name:] Ali Gamal

			p.player-info  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

			a(class="player-link" href="#")  Read More... 


		div(class="player-box text-center-xs")

			img(src="images/someone3.jpg" alt="Someone3")

			h3.player-title  #[span Name:] Ahmed Gamal

			p.player-info  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

			a(class="player-link" href="#")  Read More... 


		div(class="player-box text-center-xs")

			img(src="images/someone4.jpg" alt="Someone4")

			h3.player-title  #[span Name:] Safe

			p.player-info  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

			a(class="player-link" href="#")  Read More... 


		div(class="player-box text-center-xs")

			img(src="images/someone5.jpg" alt="Someone5")

			h3.player-title  #[span Name:] Malek

			p.player-info  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
			
			a(class="player-link" href="#")  Read More... 

div.clearfix
// End Our Player