// Start Slider
div.slider
	div.container
		blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
		img(src="images/img1.jpg" alt="img1")
		ul.bullets
			li.active
			li
			li
			li
			li

// End Slider