.popup
	.inner
		.row
			.col-lg
				.card.text-center
					.card-body.content
						h4.card-title Kia Cars
						h6.card-subtitle.mb-2.text-muted 15000$
						h6.card-subtitle.mb-2.text-muted.throughLine 20000$
						p.card-text

							| Kia car prices start(GST Included) at Rs 9.89 Lakh for the most inexpensive model in its lineup, the Seltos. The most expensive car in Kia's lineup is the Carnival, priced at Rs. 33.95 Lakh for its top variant. In total, Kia has 2 models on sale in
						a(href="#" class="card-link fBold float-right d-sm-block close") Make Sure

			.col-lg
				.card
					img(class="card-img-top" src="../image/kiv/kiv2.jpg" alt="bejo2")

