doctype
html
    head
        meta
        title My CV
    body
        h2 My Skills
        ul
            li PHP
            li MySQL
            li Sass
            li Pugjs
        p lorem ipsum <strong> Test </strong>
        div: a This Is Link 