<!-- Start Header -->
.header
	.container
		.row
			.col-md-6
				h2 Name:		#[span Mohmad Gamal Ali Mohmad]
				h2 Descrption:  #[span Iam Web Desinger And i have experience in this field i created seven projects in them Including a car site and real estate site and others]
			.col-md-6
				img(src="image/mohmad.jpg" alt="")
<!-- End Header -->