.my-project
	.overlay
		.container.text-center
			.row
				.col-12.first
					div.first-project
						img(src="image/car.jpg"  alt="car")
						h3 Car Site
						span.date 14/7/2020
						a(href="web_cars/index.html" target="_blank").views Vist Site

			.row
				.col-12.col-lg-6.tow
					div.second-project
						img(src="image/tec.jpg"  alt="tec")
						h3 Tec Site
						span.date 1/11/2019
						a(href="Bootstrap/Bootstrap3-1/NavBar.html" target="_blank").views Vist Site

				.col-12.col-lg-6.tow
					div.second-project
						img(src="image/landing7.png"  alt="landing7")
						h3 Prototypes Site
						span.date 15/6/2020
						a(href="Bootstrap/Bootstrap3-2/index.html" target="_blank").views Vist Site

			.row
				.col-12.col-lg-6.col-xl-3.three
					div.third-project
						img(src="image/slide1.jpg"  alt="slide1")
						h3 Elite Corp Site
						span.date 1/7/2020
						a(href="Bootstrap/Bootstrap4/index.html" target="_blank").views Vist Site

				.col-12.col-lg-6.col-xl-3.three
					div.third-project
						img(src="image/developer.jpg"  alt="developer")
						h3 Composition Site
						span.date 15/5/2020
						a(href="Pract_Framwork_HTML_CSS/Practical_Sass   And_Pug/index.html" target="_blank").views Vist Site

				.col-12.col-lg-6.col-xl-3.three
					div.third-project
						img(src="image/landing2.jpg"  alt="landing2")
						h3 Special Design
						span.date 15/3/2020
						a(href="web_pure_Javascript/index.html" target="_blank").views Vist Site

				.col-12.col-lg-6.col-xl-3.three
					div.third-project
						img(src="image/home.jpg"  alt="home")
						h3 Home Design Site
						span.date 15/4/2020
						a(href="home/index.html" target="_blank").views Vist Site