.skiles
	.overlay
		.container.text-center
			.row
				.col-md-4
					div(class="animated-progress one")
						span(data-progress="95") HTML
						
				.col-md-4
					div(class="animated-progress tow")
						span(data-progress="95") CSS
						

				.col-md-4
					div(class="animated-progress three")
						span(data-progress="95") HTML5
						
			.row
				.col-md-4
					div(class="animated-progress four")
						span(data-progress="95") CSS3
						

				.col-md-4
					div(class="animated-progress five")
						span(data-progress="90") Javascript
						

				.col-md-4
					div(class="animated-progress six")
						span(data-progress="95") Jquery
						

			.row
				.col-md-4
					div(class="animated-progress seven")
						span(data-progress="90") DOM
						

				.col-md-4
					div(class="animated-progress eight")
						span(data-progress="90") BOM
						

				.col-md-4
					div(class="animated-progress nine")
						span(data-progress="90") ES6
						
			.row
				.col-md-4
					div(class="animated-progress ten")
						span(data-progress="90") Command Line
						

				.col-md-4
					div(class="animated-progress eleven")
						span(data-progress="90") Git | Github
						

				.col-md-4
					div(class="animated-progress twelve")
						span(data-progress="95") Pugjs
						

			.row
				.col-md-4
					div(class="animated-progress thirteen")
						span(data-progress="95") Sass
						

				.col-md-4
					div(class="animated-progress fourteen")
						span(data-progress="95") Bootstrap3
						

				.col-md-4
					div(class="animated-progress fifteen")
						span(data-progress="95") Bootstrap4
						
			.row
				.col-md-4
					div(class="animated-progress sixteen")
						span(data-progress="90") Ajax
						

				.col-md-4
					div(class="animated-progress seventeenth")
						span(data-progress="95") Json
						

				.col-md-4
					div(class="animated-progress eighteen")
						span(data-progress="70") Vuejs
						

			.row.text-center
				.col-6
					div(class="animated-progress nineteen")
						span(data-progress="85") Canvas
						

				.col-6
					div(class="animated-progress twenty")
						span(data-progress="90") Gulpjs
						

