.skiles
	.overlay
		.container.text-center
			.row.one
				.col-md-4
					canvas(id="canvas-html" width="200" height="200")

				.col-md-4
					canvas(id="canvas-css" width="200" height="200")

				.col-md-4
					canvas(id="canvas-html5" width="200" height="200")
			.row.tow
				.col-md-4
					canvas(id="canvas-css3" width="200" height="200")

				.col-md-4
					canvas(id="canvas-js" width="200" height="200")

				.col-md-4
					canvas(id="canvas-jquery" width="200" height="200")

			.row.three
				.col-md-4
					canvas(id="canvas-dom" width="200" height="200")

				.col-md-4
					canvas(id="canvas-bom" width="200" height="200")

				.col-md-4
					canvas(id="canvas-es6" width="200" height="200")
			.row.four
				.col-md-4
					canvas(id="canvas-command" width="200" height="200")

				.col-md-4
					canvas(id="canvas-github" width="200" height="200")

				.col-md-4
					canvas(id="canvas-pugjs" width="200" height="200")

			.row.five
				.col-md-4
					canvas(id="canvas-sass" width="200" height="200")

				.col-md-4
					canvas(id="canvas-bootstrap3" width="200" height="200")

				.col-md-4
					canvas(id="canvas-bootstrap4" width="200" height="200")
			.row.six
				.col-md-4
					canvas(id="canvas-ajax" width="200" height="200")

				.col-md-4
					canvas(id="canvas-json" width="200" height="200")

				.col-md-4
					canvas(id="canvas-vue" width="200" height="200")

			.row.text-center.seven
				.col-6
					canvas(id="canvas-canvas" width="200" height="200")

				.col-6
					canvas(id="canvas-gulpjs" width="200" height="200")

