/*Start Global Rulez*/

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: Arial, Tahoma;
}
/*End Global Rulez*/

/*
	===================================
	== Multilingual Notes And Tricks ==
	===================================

	* Amazing Features To Help You
	--- <bdi> // B Directinal Isolation
	--- Attribute ==> [ dir="auto" ]
	--- Text-Align [ Start | End ]
	--- Float: [ Inline-Start | Inline-End ]  ==> This Is Only ===> [ compatibility { FireFox  } ]

*/


/* Start Header */

p{
	text-align: start;
}


.parent .child{
	background-color: #ddd;
	margin-bottom: 10px;
	width: 24%;
	margin-left: 1%;
	height: 100px;
	float: inline-start;
}