-var pageTitle = 'TeslaPage';
doctype html
html
	head
		include ../pug/layout/meta
		include ../pug/layout/styles
	body

		include ../pug/componant/slide-right
		include ../pug/componant/page-head
		include ../pug/componant/settings-box
		include ../pug/componant/tesla/logo_tesla
		include ../pug/componant/tesla/title-famous-tesla-cars
		include ../pug/componant/tesla/image_with_info5
		include ../pug/componant/tesla/famous-tesla-info-cars
		include ../pug/componant/footer
		//- .page.home-page
		//- 	include ../pug/componant/settings-box
		//- 	//- include ../pug/layout/sidebar
		//- 	.content-area
		//- 		include ../pug/layout/header
		//- 		.container-fluid
		//- 			.content
		//- 				include ../pug/componant/page-head

		include ../pug/layout/scripts