/*Start Global Rulez*/

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: Arial, Tahoma;
	font-size: 18px;
}

.container{
	margin: 20px auto;
	width: 1200px;
}


.container .tabs-choose{
	margin-bottom: 0;
}

.container .tabs-choose li{
	display: inline-block;
    padding:10px 20px;
    background-color: #eee;
    cursor: pointer;
    opacity: .3;
}

.container .tabs-choose li.active{
	opacity: 1;
}

.container .tabs-content{
	background-color: #eee;
	margin: 0 auto;
	padding: 20px;
}

/*End Global Rulez*/

