-var pageTitle = 'HomePage';
doctype html
html
	head
		include pug/layout/_meta
		include pug/layout/_styles
	body

		include pug/componant/_page-head

		include pug/componant/_header
		include pug/componant/_title-myskils
		include pug/componant/_skiles
		include pug/componant/_title-myprojects
		include pug/componant/_pageprojects
		include pug/componant/_title-contact
		include pug/componant/_contact-us
		include pug/componant/_scroll
		include pug/componant/_footer
		include pug/layout/_scripts