doctype
html
    head
        meta(name="name" content="content")
        meta(charset="utf-8")
        title The Page
    body
        .main
            //- #[] This ===> For I Put Element On It ==>[ <strong> , <b> , <span> , .... ] 
            p I Love #[b(class="main" , id="main") Maongo] Hello Worlled