<!-- Start Latest Posts -->
.famous-cars
	.container
		.row.cars
			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/tesla/inside/tesla_inside1.jpg" alt="tesla_inside1")
					.card-body
						h4.card-title Tesla’s mission is to accelerate the world’s transition to sustainable energy.
						p.card-text

							| Tesla was founded in 2003 by a group of engineers who wanted to prove that people didn’t need to compromise to drive electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars.
						a(href="../cards/card_tesla1.html" class="card-link fBold d-block") Bay Now

			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/tesla/inside/tesla_inside2.jpg" alt="tesla_inside2")
					.card-body
						h4.card-title Tesla’s mission is to accelerate the world’s transition to sustainable energy.
						p.card-text

							| Tesla was founded in 2003 by a group of engineers who wanted to prove that people didn’t need to compromise to drive electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars.
						a(href="../cards/card_tesla2.html" class="card-link fBold d-block") Bay Now


			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/tesla/inside/tesla_inside3.jpg" alt="tesla_inside3")
					.card-body
						h4.card-title Tesla’s mission is to accelerate the world’s transition to sustainable energy.
						p.card-text

							| Tesla was founded in 2003 by a group of engineers who wanted to prove that people didn’t need to compromise to drive electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars.
						a(href="../cards/card_tesla3.html" class="card-link fBold d-block") Bay Now
		.row.cars
			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/tesla/inside/tesla_inside4.jpg" alt="tesla_inside4")
					.card-body
						h4.card-title Tesla’s mission is to accelerate the world’s transition to sustainable energy.
						p.card-text

							| Tesla was founded in 2003 by a group of engineers who wanted to prove that people didn’t need to compromise to drive electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars.
						a(href="../cards/card_tesla4.html" class="card-link fBold d-block") Bay Now

			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/tesla/inside/tesla_inside5.png" alt="tesla_inside5")
					.card-body
						h4.card-title Tesla’s mission is to accelerate the world’s transition to sustainable energy.
						p.card-text

							| Tesla was founded in 2003 by a group of engineers who wanted to prove that people didn’t need to compromise to drive electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars.
						a(href="../cards/card_tesla5.html" class="card-link fBold d-block") Bay Now


			.col-lg
				.card.text-center
					img(class="card-img-top" src="../image/tesla/inside/tesla_inside6.jpg" alt="tesla_inside6")
					.card-body
						h4.card-title Tesla’s mission is to accelerate the world’s transition to sustainable energy.
						p.card-text

							| Tesla was founded in 2003 by a group of engineers who wanted to prove that people didn’t need to compromise to drive electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars.
						a(href="../cards/card_tesla6.html" class="card-link fBold d-block") Bay Now

<!-- End Latest Posts -->