doctype
html(lang="en" dir="ltr")
	head

		include include/_header

	body

		include include/_Header
		include include/_Slider
		include include/_Services
		include include/_Player
		include include/_lorem
		include include/_footer

		script(src="js/jQuery 1.12.4.js")
		script(src="js/main.js") 

	
