meta(charset="utf-8")

// This Important For Internet Explorer
meta(http-equiv="X-UA-Compatible" content="IE=edge")

// This Important For Mobile
meta(name="viewport" content="width=device-width, initial-scale=1")

title Sass And Pug Practical
link(rel="stylesheet" href="css/normaliz.css")
link(rel="stylesheet" href="css/font-awesome.min.css")
link(rel="stylesheet" href="css/website.css")