// Start Header
div.header
	div.container
		div.logo
			h1 Composition
			p Free Psd Website Template
			button(class="the-toggler")
				|
				|
				span
				|
				|
				span
				|
				|
				span
		ul.navbar
			li: a(href="#")  HomePage 
			li: a(href="#")  Style Demo 
			li: a(href="#")  Full Width 
			li: a(href="#")  DropDown 
			li: a(href="#")  Link Text 

// End Header