-var pageTitle = 'Charts';
doctype html
html
	head
		include pug/layout/meta
		include pug/layout/styles
	body
		.page.home-page
			include pug/componant/settings-box
			include pug/layout/sidebar
			.content-area
				include pug/layout/header
				.container-fluid
					.content
						include pug/componant/page-head

		include pug/layout/scripts