mixin footer
    aside.footer
        div 
            h3 Group 1
            ul
                li: a(href="#"  data-text="link1") link1
                li: a(href="#"  data-text="link2") link2
                li: a(href="#"  data-text="link3") link3
                li: a(href="#"  data-text="link4") link4
                li: a(href="#"  data-text="link5") link5
                li: a(href="#"  data-text="link6") link6
        div
            h3 Group 2
            ul
                li: a(href="#"  data-text="link1") link1
                li: a(href="#"  data-text="link2") link2
                li: a(href="#"  data-text="link3") link3
                li: a(href="#"  data-text="link4") link4
                li: a(href="#"  data-text="link5") link5
                li: a(href="#"  data-text="link6") link6
        div 
            h3 Group 3
            ul
                li: a(href="#"  data-text="link1") link1
                li: a(href="#"  data-text="link2") link2
                li: a(href="#"  data-text="link3") link3
                li: a(href="#"  data-text="link4") link4
                li: a(href="#"  data-text="link5") link5
                li: a(href="#"  data-text="link6") link6


mixin copyright
    aside.copyright
        .copy
            span Copyright &copy; 2020 #[strong Mohmad Gamal] .Inc
        .ico_footer
            a(href="#"): img(src="../images/facebook.png" alt="facebook")
            a(href="#"): img(src="../images/email.png" alt="email")
            a(href="#"): img(src="../images/Twitter.png" alt="Twitter")
