.header{
	padding: 20px 0;
	overflow: hidden;
	border-bottom: 1px solid $greyColor;

	.logo{

		position: relative;
		@media #{$minSmalle} {
			width: 100%;
			float: none;
			text-align: center;
		}
		@media #{$minMedium} {
			width: 30%;
			float: $floatLeft;
			text-align: $textLeft;
		}

		h1 {
			margin-bottom: 0;
			margin-top: 10px;
		}
		p {

		}
	}
	.navbar{

		background-color: $redColor;
		overflow: hidden;
		border-radius: 15px;
		@media #{$minSmalle} {
			width: 100%;
			float: none;
			margin-top: 30px;
			display: block !important;
		}
		@media #{$minMedium} {
			width: 70%;
			float: $floatLeft;
			margin-top: 1em;
		}
		@media #{$maxMobile} {
			display: none;
			border-radius: 0;
		}

		li {
			width: 20%;
			float: $floatLeft;
			font-size: 18px;
			text-align: center;
			@media #{$maxMobile} {
				display: block;
				float: none;
				width: 100%;
				text-align: $textLeft;
				padding-left: 10px;
				padding-right: 10px;
			}
			a {	
				display: block;
				padding: 20px 10px;
				color: #fff;
				&:hover{
					color: #ddd;

				}
				@media #{$maxMobile} {
					width: 100%;
				}
			}
		}
	}
}