<!-- Start Section Contact Us  -->
.contact-us.text-center
	.fields
		.container
			i.fa.fa-headphones.fa-5x
			h2.h1 Tell Us What You Fell
			p.lead View your thread of messages with our support team.
			form(role="form")
				.row
					.col-md
						.form-group
							input(type="text" class="form-control input-form input-lg" placeholder="Username") 
						.form-group
							input(type="text" class="form-control input-form input-lg" placeholder="Email") 
						.form-group
							input(type="text" class="form-control input-form input-lg" placeholder="Cell Phone") 
					.col-md
						.form-group
							textarea(class="form-control input-form input-lg" placeholder="Your Message")
							button(type="button" class="btn btn-contact btn-lg btn-block") Contact Us

<!-- End Section Contact Us  -->
