


$maxMobile: "(max-width: 767px)"; 

$maxSmalle:"(max-width: 991px)"; 

$minSmalle: "(min-width: 768px)"; 

$minMedium:"(min-width: 992px)";

$minLarg:"(min-width: 1200px)";



// Colors
$redColor:#e2494c;

$greyColor:#9c9c9c;

$textColor:#888;

// Float

$floatLeft:left;

$floatRight:right;

$textRight:right;

$textLeft:left;