-var pageTitle = 'FerrariPage';
doctype html
html
	head
		include ../pug/layout/meta
		include ../pug/layout/styles
	body

		include ../pug/componant/slide-down
		include ../pug/componant/page-head
		include ../pug/componant/settings-box
		include ../pug/componant/ferrari/logo_ferrari
		include ../pug/componant/ferrari/title-famous-ferrari-cars
		include ../pug/componant/ferrari/image_with_info4
		include ../pug/componant/ferrari/famous-ferrari-info-cars
		include ../pug/componant/footer
		//- .page.home-page
		//- 	include ../pug/componant/settings-box
		//- 	//- include ../pug/layout/sidebar
		//- 	.content-area
		//- 		include ../pug/layout/header
		//- 		.container-fluid
		//- 			.content
		//- 				include ../pug/componant/page-head

		include ../pug/layout/scripts